header {
  height: 110px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1B2631;
}

.container {
  width: 1270px;
  margin: 0 auto;
}

.headerMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.menuLink li a {
  font-weight: 400;
  font-size: 17px;
  color: #F7FAFC;
  margin: 0px 15px;
  transition: 0.3s;
}

.menuLink li a:hover {
  opacity: 0.7;
}

.menuLink nav {
  display: flex;
  align-items: center;
}

.headerBtn {
  color: #fff;
  width: 80px;
  font-size: 17px;
  font-weight: 500;
  height: 60px;
  border-radius: 10px;
  border: 3px solid #fff;
  outline: none;
  transition: 0.4s;
}

.headerBtn:hover {
  background-color: #fff;
  color: #000;
}